<%= form_for(@hello_world) do |f| %>
  <% if @hello_world.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hello_world.errors.count, "error") %> prohibited this hello_world from being saved:</h2>

      <ul>
      <% @hello_world.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
